version: 1.0.{build}
image: Visual Studio 2019 Preview
configuration: Release
init:
- cmd: ''
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
environment:
  NEventStore.MsSql: Server=localhost\SQL2014;Database=NEventStore;User Id=sa;Password=Password12!;
  NEventStore.MySql: Server=localhost;Database=NEventStore;Uid=root;Pwd=Password12!;AutoEnlist=false;
  NEventStore.PostgreSql: Server=localhost;Database=NEventStore;Uid=postgres;Pwd=Password12!;Enlist=false;
services:
- mssql2014
- mysql
- postgresql
install:
- cmd: >-
    choco install gitversion.portable -pre -y

    git submodule update --init --recursive
before_build:
- ps: >-
    # Display .NET Core version

    dotnet --version

    # Display minimal restore text

    dotnet restore ./src/NEventStore.Persistence.Sql.Core.sln --verbosity m

    gitversion /l console /output buildserver /updateassemblyinfo

    gitversion ".\dependencies\NEventStore" /updateassemblyinfo /l console
build:
  project: src\NEventStore.Persistence.Sql.Core.sln
  verbosity: minimal
after_build:
- cmd: >-
    REM dotnet pack ./src/NEventStore.Persistence.Sql/NEventStore.Persistence.Sql.Core.csproj -c %CONFIGURATION% --no-build -o artifacts /p:PackageVersion=%GitVersion_NuGetVersion%

    nuget pack ./src/.nuget/NEventStore.Persistence.Sql.nuspec -properties "version=%GitVersion_NuGetVersion%;configuration=%CONFIGURATION%" -OutputDirectory artifacts
test_script:
- ps: >-
    $dbName = "NEventStore"


    # Create MsSql database

    $sqlInstance = "(local)\SQL2014"

    sqlcmd -S "$sqlInstance" -Q "Use [master]; CREATE DATABASE [$dbName]"


    # Create MySql database

    $env:MYSQL_PWD="Password12!"

    $mysqlcmd = '"C:\Program Files\MySQL\MySQL Server 5.7\bin\mysql" -e "create database $dbName;" --user=root'

    iex "& $mysqlcmd"


    # Create PostGRE Sql database

    $env:PGUSER="postgres"

    $env:PGPASSWORD="Password12!"

    $pgcmd = '"C:\Program Files\PostgreSQL\9.6\bin\createdb" $dbName'

    iex "& $pgcmd"


    nunit3-console "C:\projects\neventstore-persistence-sql\src\NEventStore.Persistence.MsSql.Tests\bin\Release\net45\NEventStore.Persistence.MsSql.Tests.dll" "C:\projects\neventstore-persistence-sql\src\NEventStore.Persistence.MySql.Tests\bin\Release\net45\NEventStore.Persistence.MySql.Tests.dll" "C:\projects\neventstore-persistence-sql\src\NEventStore.Persistence.PostgreSql.Tests\bin\Release\net45\NEventStore.Persistence.PostgreSql.Tests.dll" "C:\projects\neventstore-persistence-sql\src\NEventStore.Persistence.Sqlite.Tests\bin\Release\net45\NEventStore.Persistence.Sqlite.Tests.dll" --workers=0 --result=testsresults.xml;


    # upload results to AppVeyor

    $wc = New-Object 'System.Net.WebClient'

    $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit3/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\testsresults.xml))


    # net451 tests need to be run on their own or they'll conflict with net45


    nunit3-console "C:\projects\neventstore-persistence-sql\src\NEventStore.Persistence.MsSql.Tests\bin\Release\net451\NEventStore.Persistence.MsSql.Tests.dll" --workers=0 --result=testsresults451.xml;


    # upload results to AppVeyor

    $wc = New-Object 'System.Net.WebClient'

    $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit3/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\testsresults451.xml))


    # todo: fix how dotnet tests are run

    # dotnet test ./src/NEventStore.Persistence.Sql.Core.sln --no-build;
artifacts:
- path: '**\artifacts\**\*.*'